@{
    ViewData["Title"] = "Home Page";
    string[] arr = { "Audi", "Ford", "Fiat" };
}



<div class="text-center">
    @for(int i = 0; i < 2; i++)
    {
        <h1 class="display-4">Welcome</h1>
    }


    <div>
        @foreach (var item in arr)
        {
            <h1 class="display-4">@item</h1>
        }
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


